{% extends 'common.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock %}
{% block stylefile %}
     <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <style>
    .swiper-container{
        width:100%;

        margin:20px auto;

    }

    .swiper-container .swiper-slide{
        height:260px;
        line-height: 260px;
        text-align: center;
        width:100%;
        background-repeat:no-repeat;
        background-size: contain;
        background-position: center;
    }

    .pagination {
        position: absolute;
        z-index: 20;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: #555;
        margin: 0 5px;
        opacity: 0.8;
        border: 1px solid #fff;
        cursor: pointer;
    }
    .swiper-active-switch {
        background: #fff;
    }
    </style>
{% endblock %}

{% block body %}
    <!-- 轮播广告 -->
<div class="swiper-container">
  <div class="swiper-wrapper">
      {% comment %}<div class="swiper-slide"> Slide1</div>
      <div class="swiper-slide"> Slide2</div>
      <div class="swiper-slide"> Slide3</div>{% endcomment %}
  </div>
    <div class="swiper-pagination"></div>

     <!-- 如果需要导航按钮
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>-->
</div>
    <!-- echarts -->
<div id="main" style="height:400px;"></div>

<input type="hidden" class="code" value="{{ code }}" />
{% endblock %}

{% block footer %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript">
    function getklines(){
        var code = $(".code").val();
        $(".search_input").val(code);
        //初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        //实时获取股票数据,默认上证
    　   $.ajax({
            url:'{% url "stock_basics" %}',
            type:"GET",
            async:false,
            data:{'code':code},
            success:function (res) {
                console.log(typeof(res));
                res = eval('(' + res + ')')
                if(res['code'] == '202'){
                    console.log(res['msg']);
                }else{
                    console.log(res['short_name'])

                    var option = {
                                title : {
                                    text: res['stock_name']
                                },
                                tooltip : {
                                    trigger: 'axis',
                                    formatter: function (params) {
                                        var res = params[0].seriesName + ' ' + params[0].name;
                                        res += '<br/>  开盘 : ' + params[0].value[1] + '  最高 : ' + params[0].value[4];
                                        res += '<br/>  收盘 : ' + params[0].value[2] + '  最低 : ' + params[0].value[3];
                                        return res;
                                    }
                                },
                                legend: {
                                    data:['xxx','五日均线']
                                },
                                toolbox: {
                                    show : true,
                                    feature : {
                                        mark : {show: true},
                                        dataZoom : {show: true},
                                        dataView : {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore : {show: true},
                                        saveAsImage : {show: true}
                                    }
                                },
                                dataZoom : {
                                    show : true,
                                    realtime: true,
                                    start : 50,
                                    end : 100
                                },
                                xAxis : [
                                    {
                                        type : 'category',
                                        boundaryGap : true,
                                        axisTick: {onGap:false},
                                        splitLine: {show:false},
                                        data : res['date']
                                    }
                                ],
                                yAxis : [
                                    {
                                        type : 'value',
                                        scale:true,
                                        boundaryGap: [0.01, 0.01]
                                    }
                                ],
                                series : [
                                    {
                                        name:'上证指数',
                                        type:'k',
                                        data:
                                        // 开盘，收盘，最低，最高
                                            res['datas']
                                    },
                                      {
                                        name:'五日均线',
                                        type:'line',
                                        stack: '总量',
                                        data:res['meansline']
                                    },
                                ]
                            };
                            myChart.setOption(option);
                    }
            },error:function(e){
                console.log(e)
            }
        })
    }
    window.onload = function() {

          getklines();
          //搜索
          $(".search_btn").click(function(){
             var search_input = $(".search_input").val();
             search_input = $.trim(search_input);
             var url = '{% url "index" %}'+'?code='+search_input;
              window.location.href = url
          })
          //轮播
          $.ajax({
              url:'{% url "ads" %}',
              type:'GET',
              success:function(res){
                  var imgurl = '{% static "image/test.png" %}';
                  var adslide = '<div class="swiper-slide" style="background-image:url(\''+imgurl+'\');"></div>';
                  $(".swiper-wrapper").append(adslide);
                  $(".swiper-wrapper").append(adslide);
                  $(".swiper-wrapper").append(adslide);
                  var mySwiper = new Swiper('.swiper-container',{
                        loop: true,
                        autoplay : true,
                        pagination: {
                          el: '.swiper-pagination',
                        },
                        //navigation: {
                        //  nextEl: '.swiper-button-next',
                        //  prevEl: '.swiper-button-prev',
                        //},

                    //其他设置
                  });
              },error:function(e){
                  console.log(e)
              }
          });





    }
    </script>
{% endblock %}